<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Untitled Document</title>


        </head>
          <body>
<div style="width:600px;margin:0 auto 0 auto;">
            
            		<div style="width:48px;
		height:44px;
		margin:0 auto 0 auto;
		background:#000;">
                    <img src="{{var logo}}" width="48" height="44" alt="knet" />
                    </div>
                    
                    <div style="float:left;
		 width:600px;
		 margin:10px 0 0 0;
		text-align:center;
		font-family:Arial, Helvetica, sans-serif;
		font-size:15px;
		font-weight:bold;
		color:#000515;">
                    	K-net Payment Receipt
                    
                    </div>                      
                    

                    
<div style="	 float:left;
		 width:600px;
		 margin:10px 0 0 0;
		text-align:center;
		font-family:Arial, Helvetica, sans-serif;
		font-size:15px;
		font-weight:bold;
		color:#000515;">
                    	
                        Transaction Details
                    
                    	</div>
                    
                    
                     <div style="width:600px;
		 margin:10px 0 0 0;
		text-align:center;
		font-family:Arial, Helvetica, sans-serif;
		font-size:15px;
		font-weight:bold;
		color:#000515; float:left;">
								<table width="100%" border="0" cellspacing="2" cellpadding="2">
                                     	  <tr>
                                     	    <td style="background:#e0e0e0;
		border:#d1d1d1 1px solid;
		text-align:left;
		font-family:Arial, Helvetica, sans-serif;
		font-size:13px;
		font-weight:normal;"><strong>Payment ID</strong></td>
                                     	    <td style="	border:#d1d1d1 1px solid;
		text-align:left;
		font-family:Arial, Helvetica, sans-serif;
		font-size:13px;
		font-weight:normal"> {{var pid}} </td>
                                   	    </tr>
                                     	  <tr>
                                     	    <td style="background:#e0e0e0;
		border:#d1d1d1 1px solid;
		text-align:left;
		font-family:Arial, Helvetica, sans-serif;
		font-size:13px;
		font-weight:normal;"><strong>Date/Time</strong></td>
                                     	    <td style="	border:#d1d1d1 1px solid;
		text-align:left;
		font-family:Arial, Helvetica, sans-serif;
		font-size:13px;
		font-weight:normal">{{var date}}</td>
                                   	    </tr>
                                     	  <tr>
                                     	    <td style="background:#e0e0e0;
		border:#d1d1d1 1px solid;
		text-align:left;
		font-family:Arial, Helvetica, sans-serif;
		font-size:13px;
		font-weight:normal;"><strong>Payment Status</strong></td>
                                     	    <td style="	border:#d1d1d1 1px solid;
		text-align:left;
		font-family:Arial, Helvetica, sans-serif;
		font-size:13px;
		font-weight:normal">{{var result}}</td>
                                   	    </tr>
                                     	  <tr>
                                     	    <td style="background:#e0e0e0;
		border:#d1d1d1 1px solid;
		text-align:left;
		font-family:Arial, Helvetica, sans-serif;
		font-size:13px;
		font-weight:normal;"><strong>Amount</strong> </td>
                                     	    <td style="	border:#d1d1d1 1px solid;
		text-align:left;
		font-family:Arial, Helvetica, sans-serif;
		font-size:13px;
		font-weight:normal">{{var amount}}</td>
                                   	    </tr>
                                     	  <tr>
                                     	    <td style="background:#e0e0e0;
		border:#d1d1d1 1px solid;
		text-align:left;
		font-family:Arial, Helvetica, sans-serif;
		font-size:13px;
		font-weight:normal;"><strong>Order ID</strong></td>
                                     	    <td style="	border:#d1d1d1 1px solid;
		text-align:left;
		font-family:Arial, Helvetica, sans-serif;
		font-size:13px;
		font-weight:normal"> {{var orderId}} </td>
                                   	    </tr>
                                     	  <tr>
                                     	    <td style="background:#e0e0e0;
		border:#d1d1d1 1px solid;
		text-align:left;
		font-family:Arial, Helvetica, sans-serif;
		font-size:13px;
		font-weight:normal;"><strong>Transaction ID</strong></td>
                                     	    <td style="	border:#d1d1d1 1px solid;
		text-align:left;
		font-family:Arial, Helvetica, sans-serif;
		font-size:13px;
		font-weight:normal"> {{var tid}} </td>
                                   	    </tr>
                                     	  <tr>
                                     	    <td style="background:#e0e0e0;
		border:#d1d1d1 1px solid;
		text-align:left;
		font-family:Arial, Helvetica, sans-serif;
		font-size:13px;
		font-weight:normal;"><strong>Authentication Code</strong></td>
                                     	    <td style="	border:#d1d1d1 1px solid;
		text-align:left;
		font-family:Arial, Helvetica, sans-serif;
		font-size:13px;
		font-weight:normal"> {{var auth}} </td>
                                   	    </tr>
                                     	  <tr>
                                     	    <td style="background:#e0e0e0;
		border:#d1d1d1 1px solid;
		text-align:left;
		font-family:Arial, Helvetica, sans-serif;
		font-size:13px;
		font-weight:normal;"><strong>Tracking ID </strong></td>
                                     	    <td style="	border:#d1d1d1 1px solid;
		text-align:left;
		font-family:Arial, Helvetica, sans-serif;
		font-size:13px;
		font-weight:normal"> {{var trackid}} </td>
                                   	    </tr>
                                     	  <tr>
                                       		
                                             <td width="20%" style="background:#e0e0e0;
		border:#d1d1d1 1px solid;
		text-align:left;
		font-family:Arial, Helvetica, sans-serif;
		font-size:13px;
		font-weight:normal;"><strong>Reference Number </strong></td>
                                        	 <td width="20%" style="	border:#d1d1d1 1px solid;
		text-align:left;
		font-family:Arial, Helvetica, sans-serif;
		font-size:13px;
		font-weight:normal"> {{var ref}} </td>
                                        
     									  </tr>
                                       
                                      
                                      
					 			  </table>
                    
						</div>

				     
				
                        
                        
			
                  
            
          </div>
        
        
      
        </body>
</html>